{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }, 
  "eslint linebreak-style": ["error", "windows"],
  "rules": {
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["e2e/**/*.js", "**/*.spec.js"]}]
  }
}
